* {
  font-family: "Josefin Sans", sans-serif; }

.nav-item a {
  color: #066617; }

.navbar a:hover {
  color: #99efe5; }

.brand {
  font-size: 24px;
  color: white; }

.logo {
  font-size: 32px;
  color: white;
  padding: 0 5px 0 0; }

.link-item a {
  color: #cacaca; }

.link-item a:hover {
  color: #ffffff; }

.card {
  background-color: #dbffe2; }

.card-body {
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px; }

.carousel-caption {
  background-color: rgba(55, 55, 55, 0.5); }

.carousel {
  border: solid #066617; }

.contact-bg {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.contact-bg h1 {
  font-size: 4rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .contact-bg {
    min-height: 80vh;
  }
  .contact-bg h1 {
    font-size: calc(1.5rem + 3.3vw)
  }
}